*{
    margin: 0px;
    padding: 0px;
}
body{
    text-align: center;
    background-image: url('https://wallpapers.com/images/hd/clear-snake-game-character-z6jd7jtsl04g6mxx.jpg');
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
canvas{
    border-radius: 1.5rem;
    box-shadow: 0px 0px 40px 5px rgba(63, 63, 63, 0.696);
}
h3{
    font-size: 3rem;
    margin: 1rem 0px auto;
    
    color: crimson;
}
#score{
    color: white;
    font-size: 1.5rem;
    background-color: rgba(13, 179, 13, 0.335);
    margin: 0.5rem auto;
    width: 50%;
}